
.autocomplete-search.ant-select-auto-complete {
  .ant-select-search__field{
    background-image: url(../../assets/images/search.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-origin: content-box !important;
  }
}
  